---
layout: layout.liquid
title: 11ty Boilerplate
---
<img src="images/logo.png" alt="Galaxy Grotto Logo">
<h1>Galaxy Grotto</h1>
<h2>Your place for space.</h2>
<h3>Galaxy Grotto is a blog for the people, providing a space where the galactic go-getter can learn about...space.</h3>
<P>Click <strong><a href="/worlds/" title="Post #1">here</a></strong> to learn about exploring faraway planets. Or, click <strong><a href="/stars/" title="Post #2">here</a></strong> instead to read about uncovering unknown stars.</p>