body {
    font-family: Helvetica, sans-serif;
    color: #EAE8FF;
    background: #2b2d34;
    padding: 0 40px;
    text-align: left;
}

a {
    text-decoration: none;
    color: #EAE8FF;
}

a:hover {
    background: linear-gradient(45deg, #1500ff 0%, #891eb7 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

nav {
    margin: 40px auto 0 auto;
    width: 250px;
    position: absolute;
    right: 160px;
    top: 20px;
}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    list-style-type: none;
    margin: 0;
}

nav ul li a {
    padding: 20px;
    color: #EAE8FF;
    text-decoration: none;
    font-size: 1.2em;
}

nav ul li a:hover {
    color: #1500ff;
    transition: 0.3s;
}

h1 {
    font-size: 8em;
    letter-spacing: -2px;
    padding: 50px 0 0 0;
    margin: 50px 0 0 0;
}

h2 {
    font-size: 2.3em;
    letter-spacing: -2px;
    margin-bottom: 0em;
}

h3 {
    font-size: 1.5em;
}


p {
    font-size: 1.2em;
    margin-top: 1em;
    line-height: 2em;
    padding-bottom: 2em;
}


h1 strong {
    background: rgb(34,193,195);
    background: linear-gradient(45deg, rgb(30, 109, 183) 0%, rgb(161, 158, 192) 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

p strong {
    background: rgb(0, 128, 255);
    background: linear-gradient(45deg, #891eb7 0%, #1500ff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

img {
    padding-top: 65px;
    float: right;
    width: 400px;
}

#scope {
    float: right;
    width: 600px;
    margin-bottom: 20px;
    margin-left: 50px;
    
}


#stars {
    width: 600px;
    margin-bottom: 20px;
    margin-left: 50px;
}

#starpic {
    float: right;
    font-size: 0.8em;
}

#earth {
    float: left;
}

#cap {
    float: right;
    font-size: 0.8em;
}


.date {
    display: flex;
}